<h1 (copy)="printMessage()">Hello {{name}} {{lastName}}</h1>
<h2>esto es un segundo párrafo</h2>
<!-- <input type="text" placeholder ="message" [value]="name" (keyup)= "updateName($event)"> -->
<input type="text" placeholder ="message" [(ngModel)]="name">
<input type="text" placeholder ="message" [(ngModel)]="lastName">
<button [disabled] = "isDisabled" (click)="sayHello()"> Submit</button>

<h3>SHOPPING LIST</h3>

<input type="text" placeholder ="Please put a shopping item" (keypress) ="addShoppingItem2($event)" [(ngModel)]="shoppingItem">
<button [disabled] = "isDisabled2()" (click)="addShoppingItem()"> Add</button>


<div *ngIf='isPepe()'> 
    <p> [ngStyle]=""> This is a secret message</p>
    <!--font-size: 20 px, background-color: aquamarine: 20px; background-color:aquamarine; -->
</div>

<ul>
    <li [ngClass]="{'odd':i%2!=0,'even':i%2===0}" *ngFor="let item of shoppingList; let i = index">
        {{i+1}} - {{item}}
    </li>  
</ul>
 
